.contenedor-organizar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.titulo-org,
.titulo-pub {
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.f {
	margin-top: 6px;
	margin-bottom: 8px;
	width: 178px;
	height: 20px;
}

.formulario-torneo {
	display: grid;
	grid-template-columns: 200px;
	width: 260px;
	border: 2px solid #00f000;
	padding: 30px;
	align-content: center;
	color: white;
	margin-top: 20px;
	background: #080808;
}

.boton-organizar {
	margin-top: 10px;
}

.btn-org,
.btn-part {
	border: #00f000 2px solid;
	width: 130px;
	padding: 5px;
	background: #232323;
	color: white;
}

.btn-pub {
	border: #ecff16 2px solid;
	width: 120px;
	padding: 5px;
	background: #232323;
	color: white;
}

#buscarInmueble {
	border: #ecff16 2px solid;
}

.contenedor-participar,
.contenedor-publicar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.titulo-part {
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.datos {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.datos2 {
	font-size: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.formulario-participar {
	display: grid;
	grid-template-columns: 200px;
	width: 260px;
	border: 2px solid #00f000;
	padding: 20px;
	align-content: center;
	color: white;
	margin-top: 20px;
	background: #080808;
}

.boton-participar {
	margin-top: 10px;
}

.titulo-torn,
.titulo-inmuebles {
	width: 100%;
	margin-top: 20px;
	color: white;
	font-size: 35px;
	text-align: center;
}

.torneos,
.inmuebles {
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-template-rows: auto;
	justify-content: space-around;
	margin-top: 30px;
	max-width: 70%;
	grid-column-gap: 40px;
	padding-left: 170px;
	color: white;
}

.tor {
	display: grid;
	grid-template-columns: 200px;
	width: 260px;
	border: 2px solid #00f000;
	padding: 20px;
	color: white;
	margin-top: 30px;
}

.inm {
	display: grid;
	grid-template-columns: 200px;
	width: 260px;
	border: 2px solid #ecff16;
	padding: 20px;
	color: white;
	margin-top: 20px;
}

.nombre-tor,
.nombre-inmueble {
	color: white;
	font-size: 20px;
	text-align: center;
}

span {
	font-weight: bold;
}

.boton-part {
	border: 2px solid #00f000;
	font-weight: normal;
	width: 115px;
	color: white;
	padding: 5px;
	background: #232323;
}

.boton-alqui,
.boton-pub {
	border: 2px solid #ecff16;
	font-weight: normal;
	width: 120px;
	color: white;
	padding: 5px;
	background: #232323;
}

.boton-para-pub {
	margin-left: 25px;
}

.formulario-publicar {
	display: grid;
	grid-template-columns: 200px;
	width: 260px;
	border: 2px solid #ecff16;
	padding: 30px;
	align-content: center;
	color: white;
	margin-top: 20px;
	background: #080808;
}

.cont-acciones {
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
	margin-bottom: 30px;
}

.pp,
.ors {
	max-width: 100%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.organizar-tor {
	margin-right: -18em;
	width: 280px;
	justyfy-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.avisoUsuario {
	font-size: 0.8em;
}

.buscador {
	color: white;
	margin-left: -20em;
}

.busc {
	width: 300px;
}

.opcionesUsuario {
	display: flex;
	max-width: 100%;
	padding: 10px 80px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.organizaPropioTorneo {
	font-weight: normal;
	border: none;
}

.organizaPropioTorneo:hover {
	color: #00f000;
}

.contenedor-contacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contacto {
	padding: 15px;
	width: 500px;
	border: 2px solid #2be4ff;
	background: #080808;
}

.mapa {
	margin-top: -1.5em;
}

iframe {
	width: 480px;
	height: 300px;
}

.detalles-inm {
	color: white;
	display: grid;
	grid-templates-columns: 200px 200px;
	justify-content: center;
	width: 100%;
}

.btn-outline-warning {
	
	border: 1px solid #ecff16;
	
	color: #ecff16;
}

.btn-outline-warning:hover {
	
	color: black;
	
	background: #ecff16;
}

.btn-outline-success{
	
	border: 1px solid #00f000;
	
	color: #00f000;
}

.btn-outline-success:hover{
	
	color: black;
	
	background: #00f000;
}
