*{
	
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	
}

body{
	
	background-color: black;
}

header{
	
	
	background-color: #C381FD;
}

h1{
	color: white;
	width: 80%;
	margin: 0px auto;
	text-align: center;
	
}

.contenedorNav{
	
	display: flex;
	flex-direction:row;
	width:80%;
	margin: 25px auto;
<<<<<<< HEAD
	
=======
	justify-content: space-between;
	align-items: center;
	height: 50px;
>>>>>>> 5592ef2aff8513f2c0df2d279cae8c4cba003889
	
}
nav a{
	align-items:center;
	margin-top: 20px;
}
a{
	
	
	margin: 0px auto;
	text-align: center;
	text-decoration:none; 
	border-right: solid 2px white;
	width: 100%;
	font-weight: bold;
	color: white;
	
}

#btnContacto{
	
	border: none;
}

#btnHome:hover{
	
	color: #FF1ACE;
}

#btnInmueble:hover{
	
	color: #ECFF16;
}

#btnTorneo:hover{
	
	color: #71FC2D;
}
#btnContacto:hover{
	
	color: #2BE4FF;
	
}


.contenedorDescripcion{
	
	width: 80%;
<<<<<<< HEAD
=======
	padding: 1em;
	/*max-width: 500px;*/
>>>>>>> 5592ef2aff8513f2c0df2d279cae8c4cba003889
	margin: 50px auto;
	background-color: black;
	border-radius: 4px;
	perspective: 200px;
	border: solid 2px #C381FD;
	
	
}


p{
	
max-width: 70%;
font-family:serif;
margin: 0px auto;	
font-size: 1.4em;
	color: white;
}